$dark-base: (
  primary: red,
  fontSize-1: 22px
);
$dark: (
  sideLeft-background: #323033,
  sideLeft-width: 200px,
  sideLeft-collapse-width: 20px,
  navHeader-height: 60px,
  navHeader-background: #343333,
  navHeader-brand-fontSize:
    map-get(
      $map: $dark-base,
      $key: 'fontSize-1'
    ),
  navHeader-color: #fff,
  sideRight-width: 200px,
  sideRight-background: #323033,
  editor__menuHeader-height: 50px,
  editor__menuHeader-background: #ebeef5,
  editor__menuHeader__menuItem-background: #ebeef5,
  editor__menuHeader__menuItem-color: #909399,
  editor__menuLeft-width: 300px,
  editor__menuLeft-background: #dcdfe6,
  editor__menuRight-width: 300px,
  editor__menuRight-background: #dcdfe6
);
