html,
body,
#app {
  height: 100%;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: absolute;
  margin-top: 60px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
