/**
 * @description: 展开收缩动画
 */
%to-original-position {
  transition: transform 0.5s;
  transform: translate(0);
}
@mixin collapse-left-to-right($translateX: -100%) {
  transition: transform 0.5s;
  transform: translateX($translateX);
}
@mixin collapse-back-to-original {
  @extend %to-original-position;
}
@mixin collapse-right-to-left($translateX: 100%) {
  transition: transform 0.5s;
  transform: translateX($translateX);
}

